# Copyright (c) 2023 bytes at work AG
# SPDX-License-Identifier: Apache-2.0

config MIPI_DSI_STM32_CUSTOM
	bool "STM32 CUSTOM MIPI-DSI Host Controller"
	default y
	depends on DT_HAS_ST_STM32_CUSTOM_MIPI_DSI_ENABLED
	select USE_STM32_HAL_DSI
	help
	  STM32 CUSTOM MIPI DSI controller driver
